{% extends 'default.html' %}

{% load custom_filters %}

{% block title %}
Поиск
{% endblock title %}

{% block content %}
    <h1>Поиск</h1>
        <h5>Количество статей и новостей: {{posts|length}}</h5>
        <form action="" method="get">
            {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
            {{ filterset.form.as_p }}
            {# Добавим кнопку отправки данных формы #}
            <input type="submit" value="Найти" />
        </form>
        <hr>
        {% if posts %}
            <table>
                <tr>
                    <td>Заголовок</td>
                    <td>Дата публикации</td>
                    <td>Текст</td>
                    <td>Рейтинг</td>
                    <td>Автор</td>
                </tr>
                {% for posts in posts %}
                    <tr>
                        <td>
                            <a href="/news/{{ posts.id }}">{{posts.header | censor}}</a>
                        </td>
                        <td>{{posts.time_of_publication|date:'d M Y'}}</td>
                        <td>{{posts.text | truncatewords:20 | censor}}</td>
                        <td>{{posts.rate}}</td>
                        <td>{{posts.user | censor}}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <h2>Новостей и статей нет!</h2>
        {% endif %}
    {# отображение и ссылка на первую страницу #}
    {% if page_obj.number != 1 %}
        <a href="?{% url_replace page=1">1</a>
    {% endif %}

    {# Информация о предыдущих страницах #}
    {% if page_obj.has_previous %}
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {# Информация о текущей странице #}
    {{ page_obj.number }}
    {% if paginator.num_pages != page_obj.number %}
    {% endif %}

    {# Информация о следующих страницах #}
    {% if page_obj.has_next %}
        {% if paginator.num_pages != page_obj.next_page_number %}
            <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
            ...
        {% endif %}
    {% endif %}
    {% if paginator.num_pages != page_obj.number %}
        <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
    {% endif %}

{% endblock content %}